@import "_layout/card";
@import "component";
@import "_page/home";
@import "_page/contact";
@import "_page/lectures_events";
@import "_page/online_courses";
@import "_page/zmot_audit";
@import "_page/privacy";
@import "_page/blog_index";

@import '~sweetalert2/src/variables';
@import '~sweetalert2/src/sweetalert2';

section {
  h1 {
    font-size: 3.2rem;
    font-weight: 600;
    color:white;
    margin-bottom: 3rem
  }
  h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  p {
    font-size: 20px;
    color: black;
    line-height: 1.7;
    font-weight: 300;
  }
}
